$primary-color: #4880FF;
$secondary-color: #0056b3;
$background-color: #1B2431;
$form-background: #273142;
$input-background: #323D4E;
$text-color: white;
$input-text-color: #B6B6B6;
$border-radius: 0.875rem; // 14px → 0.875rem (при 16px базовом)
$border-color: #CFCFCF1D;
$border-color-form: #313D4F;
$input-padding: 1.125rem; // 18px → 1.125rem
$margin-bottom: 0.9375rem; // 15px → 0.9375rem
$transition: 0.5s;
$font-body: "Nunito Sans", sans-serif;

