// main.scss — главный файл, который компилируется
@import 'variables';
@import 'mixins';
@import 'base';
@import 'forms';
@import 'layout';

// Импорт шрифта (должен быть в начале)
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
