@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
body {
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  background-color: #1B2431;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1rem;
  margin: 0;
}

form {
  background-color: #273142;
  padding: 1.875rem;
  border: 1px solid #313D4F;
  border-radius: 0.875rem;
}

h1 {
  color: white;
  margin-bottom: 1.875rem;
  font-weight: 800;
  font-size: 2rem;
}

label {
  display: block;
  color: white;
  font-weight: 800;
  font-family: "Nunito Sans", sans-serif;
}

input {
  width: 22.5rem;
  padding: 1.125rem;
  border: 0.6px solid rgba(207, 207, 207, 0.1137254902);
  border-radius: 0.875rem;
  background-color: #323D4E;
  color: #B6B6B6;
  font-weight: 500;
  font-family: "Nunito Sans", sans-serif;
}
input:focus-visible {
  outline: 2px solid #4880FF;
  outline-offset: 2px;
}
input:focus {
  outline: none;
  border-color: #4880FF;
}

button {
  margin-top: 1.875rem;
  font-weight: 800;
  width: 100%;
  padding: 1.125rem;
  background-color: #4880FF;
  border: none;
  border-radius: 0.875rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Nunito Sans", sans-serif;
}
button:hover {
  background-color: #0056b3;
  transition: 0.5s;
}

span[title] {
  color: white;
  font-size: 1rem;
  margin-left: 0.3125rem;
  cursor: help;
  font-family: "Nunito Sans", sans-serif;
}

.login-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-row {
  display: grid;
  gap: 0.625rem;
}

.inputs-row {
  display: grid;
  gap: 1.5rem;
}