$primary-color: #007bf1;
$secondary-color: #0056b3;
$background-color: #222;
$form-background: #333;
$text-color: white;
$border-radius: 5px;
$padding: 10px;
$margin-bottom: 15px;

// Базовые стили
body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  background-color: $form-background;
  padding: 30px;
  border-radius: $border-radius;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
  color: $text-color;
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  color: $text-color;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: $padding;
  margin-bottom: $margin-bottom;
  border: 1px solid #555;
  border-radius: $border-radius;
  background-color: #555;
  color: $text-color;

  // Стили для состояний фокуса и ховера
  &:focus {
    outline: none;
    border-color: lighten($primary-color, 30%);
  }
}

button {
  width: 100%;
  padding: $padding;
  background-color: $primary-color;
  border: none;
  border-radius: $border-radius;
  color: $text-color;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: $secondary-color;
  }
}

span[title] {
  color: $text-color;
  font-size: 16px;
  margin-left: 5px;
  cursor: help;
}